<form class="create-form" (ngSubmit)="onSubmit()">
  <div class="form-group">
    <label for="name">Name:</label>
    <input class="form-control" type="text" id="name" name="name" [(ngModel)]="dtoBeverage.name" required>
  </div>
  <div class="form-group">
    <label for="image">Image URL:</label>
    <input class="form-control" type="text" id="image" name="image" [(ngModel)]="dtoBeverage.image" required>
  </div>
  <div class="form-group">
    <label for="liter">Liter:</label>
    <input class="form-control" type="number" id="liter" name="liter" [(ngModel)]="dtoBeverage.liter" required>
  </div>
  <div class="form-group">
    <label for="price">Price:</label>
    <input class="form-control" type="number" id="price" name="price" [(ngModel)]="dtoBeverage.price" required>
  </div>
  <div class="form-group">
    <label for="quantity">Quantity:</label>
    <input class="form-control" type="number" id="quantity" name="quantity" [(ngModel)]="dtoBeverage.quantity" required>
  </div>
  <div class="form-group">
    <label for="description">Description:</label>
    <textarea class="form-control" id="description" name="description" [(ngModel)]="dtoBeverage.description" required></textarea>
  </div>
  <button class="btn btn-primary" type="submit">Save</button>
</form>
<p class="form-result">form = {{ dtoBeverage | json }}</p>

  <div class="delete-section">
    <div class="form-group">
      <label for="beverageIdToDelete">Beverage ID:</label>
      <input class="form-control" type="number" id="beverageIdToDelete" [(ngModel)]="beverageIdToDelete" placeholder="Enter beverage ID">
    </div>
    <button class="btn btn-danger" (click)="deleteBeverage()">Delete Beverage</button>
  </div>
