<div class="container">
  <h5>Beverage Overview</h5>
  <div class="beverage-list">
    <div class="row">
      <div *ngFor="let beverage of beverageList" class="col-md-3 beverage-container">
        <a [routerLink]="['/beverage', beverage.id]">
          <img [src]="beverage.image" class="img-fluid" (click)="showBeverage(beverage.id)" />
        </a>
        <h3>{{ beverage.name }}</h3>
        <p>Liter: {{ beverage.liter }}</p>
        <p>Price: {{ beverage.price }}</p>
        <p>Quantity: {{ beverage.quantity }}</p>
      </div>
    </div>
  </div>
</div>
